<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv='Content-Type' content='text/html; charset="UTF-8' />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Usuários</title>

	<link rel="stylesheet" th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
	<script th:src="@{/code.jquery.com_jquery-3.7.1.min.js}"></script>
	<script th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.min.js}"></script>
</head>

<body>
	<div th:insert="fragments/publica-nav :: menuSuperior"></div>
	<div class="container">
		<div class="row">
			<div class="col"></div>
			<h1>Lista de Usuários</h1>
			<div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
				<button type="button" class"btn-close" data-bs-dismiss="alert"></button>
				<span th:text="${mensagem}"></span>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Login</th>
						<th>Nome</th>
						<th>CPF</th>
						<th>Nascimento</th>
						<th>E-mail</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${usuarios.empty}">
						<td colspan="2">Sem usuário</td>
					</tr>
					<tr th:each="percorrerLista : ${usuarios}">
						<td><span th:text="${percorrerLista.login}">Login</span>
						<td><span th:text="${percorrerLista.nome}">Nome</span></td>
						<td><span th:text="${percorrerLista.cpf}">CPF</span></td>
						<td><span
								th:text="${#dates.format(percorrerLista.dataNascimento, 'dd/MM/yyyy')}">Nascimento</span>
						</td>
						<td><span th:text="${percorrerLista.email}">E-Mail</span></td>
						<td>
							<a class="btn btn-outline-danger btn-sm"
								th:href="@{/usuario/admin/apagar/{id}(id=${percorrerLista.id})}"
								th:data-confirm-delete="|Você gostaria de apagar ${percorrerLista.nome}?|"
								onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false"> APAGAR
							</a>
						</td>
						<td>
							<a class="btn btn-outline-primary btn-sm"
								th:href="@{/usuario/editar/{id}(id=${percorrerLista.id})}"> EDITAR
							</a>
						</td>
					</tr>

				</tbody>

			</table>
		</div>
	</div>
</body>






</html>